.card {
  background: rgb(7, 7, 7);
  background: linear-gradient(270deg, rgb(11, 2, 48) 0%, rgb(9, 2, 36) 90%);
}
.iconBg {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(13, 5, 59) 0%, rgb(27, 20, 105) 67%);
}
